body {

}



form{
    margin: 20px 0;
}



form input, button{
    padding: 5px;
}



form input {
    width: 95%;
    margin: 10px;
    border: 1px dashed #49554c;
    border-radius: 5px;
}



#click-button {
    width: 15%;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 3px 10px;
    background-color: lightblue;
    color: white;
}



#click-button:hover {
    background-color: steelblue;
    color: white;
    transform: scale(1.05) perspective(1px);
}



#click-button:active {
    box-shadow: 0 3px 3px 0 #8f8d8d;
  }



/* table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}



table, th, td{
    border: 1px solid #cdcdcd;
    margin-top: 20px;
}



table th, table td{
    padding: 10px;
    text-align: left;
}



table th {
    text-align: center;
    border-radius: 10px;
} */



.form-div {
    border-radius: 10px;
    border: 1.25px solid #bbd0b3;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}



.jumbotron{
    background: url(https://i.pinimg.com/originals/9d/9c/24/9d9c24c90f7326eb0b7e1c7f038afa1c.jpg) no-repeat center fixed;
    background-size: cover;

    text-align: center;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}